default:
  filters:
    tags: "~@api&&~@drush"
  extensions:
    Behat\MinkExtension\Extension:
      goutte: ~
      selenium2: ~
      base_url: http://drupal.org
    Drupal\DrupalExtension\Extension:
      blackbox: ~
      region_map:
        content: "#content"
        footer: "#footer"
        left header: "#header-left"
        right header: "#header-right"
        right sidebar: "#aside-region"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
        warning_message_selector: '.messages.warning'

# Separate profile for testing using the api driver. This assumes a
# stock Drupal 7 install.
drupal7:
  filters:
    tags: "@api"
  extensions:
    Behat\MinkExtension\Extension:
      base_url: http://localhost:8888
    Drupal\DrupalExtension\Extension:
      api_driver: "drupal"
      drupal:
        # Change this to the absolute path to Drupal install.
        drupal_root: "drupal7"
      region_map:
        left sidebar: "#sidebar-first"
        content: "#content"

# Separate profile for testing using the Drush driver. Assumes a stock
# Drupal 7 install.
drush:
  filters:
    tags: "@drush"
  extensions:
    Behat\MinkExtension\Extension:
      base_url: http://localhost:8888
    Drupal\DrupalExtension\Extension:
      drush_driver: "drush"
      drush:
        root: "drupal7"
      region_map:
        left sidebar: "#sidebar-first"
        content: "#content"
