default:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MarkupContext
      filters:
        tags: "@blackbox"
  extensions:
    Behat\MinkExtension:
      goutte: ~
      zombie: ~
      base_url: http://127.0.0.1:8888/blackbox
      javascript_session: zombie
    Drupal\DrupalExtension:
      blackbox: ~
      region_map:
        content: "#content"
        footer: "#footer"
        navigation: "#nav-header"
        left header: "#header-left"
        right header: "#header-right"
        right sidebar: "#aside-region"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
        warning_message_selector: '.messages.warning'

# Separate profile for testing using the api driver. This assumes a
# stock Drupal 6 install.
drupal6:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MarkupContext
      filters:
        tags: "@d6"
  extensions:
    Behat\MinkExtension:
      base_url: http://127.0.0.1:8888
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        # Change this to the absolute path to Drupal install.
        drupal_root: "drupal"
      region_map:
        left sidebar: "#sidebar-first"
        content: "#content"
# Separate profile for testing using the api driver. This assumes a
# stock Drupal 7 install.
drupal7:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MarkupContext
      filters:
        tags: "@d7"
  extensions:
    Behat\MinkExtension:
      base_url: http://127.0.0.1:8888
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        # Change this to the absolute path to Drupal install.
        drupal_root: "drupal"
      region_map:
        left sidebar: "#sidebar-first"
        content: "#content"

# Separate profile for testing using the Drush driver. Assumes a stock
# Drupal 7 install.
drush:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\DrushContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MarkupContext
      filters:
        tags: "@drushTest"
  extensions:
    Behat\MinkExtension:
      base_url: http://127.0.0.1:8888
    Drupal\DrupalExtension:
      api_driver: "drush"
      drush_driver: "drush"
      drush:
        root: "drupal"
      region_map:
        left sidebar: "#sidebar-first"
        content: "#content"

# Separate profile for testing D8. Assumes a stock Drupal 8 install.
drupal8:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\DrupalExtension\Context\MessageContext
      filters:
        tags: "@d8&&~@d8wip"
  extensions:
    Behat\MinkExtension:
      base_url: http://127.0.0.1:8888
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        # Change this to the absolute path to Drupal install.
        drupal_root: "drupal"
      region_map:
        left sidebar: "#sidebar-first"
        content: "#content"
      selectors:
        error_message_selector: '.messages--error'
