default:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MarkupContext
      filters:
        tags: "@blackbox"
  extensions:
    Drupal\MinkExtension:
      browserkit_http: ~
      base_url: http://blackbox
    Drupal\DrupalExtension:
      blackbox: ~
      region_map:
        content: "#content"
        footer: "#footer"
        navigation: "#nav-header"
        left header: "#header-left"
        right header: "#header-right"
        right sidebar: "#aside-region"
      selectors:
        message_selector: '.messages'
        error_message_selector: '.messages.error'
        success_message_selector: '.messages.status'
        warning_message_selector: '.messages.warning'

drupal:
  suites:
    default:
      contexts:
        - FeatureContext
        - Drupal\DrupalExtension\Context\ConfigContext
        - Drupal\DrupalExtension\Context\DrupalContext
        - Drupal\DrupalExtension\Context\MinkContext
        - Drupal\DrupalExtension\Context\MarkupContext
        - Drupal\DrupalExtension\Context\MessageContext
        - Drupal\DrupalExtension\Context\MailContext
        - Drupal\DrupalExtension\Context\RandomContext
      filters:
        tags: "~@blackbox&&~@wip"
  extensions:
    Drupal\MinkExtension:
      base_url: http://drupal
      files_path: /var/www/html/fixtures/files
    Drupal\DrupalExtension:
      api_driver: "drupal"
      drupal:
        drupal_root: "/var/www/html/drupal"
      region_map:
        main content: "#main"
      selectors:
        error_message_selector: '.messages--error'
