##
# Configuration file for PHPStan static code checking, see https://phpstan.org .
#

parameters:

  level: 7

  paths:
    - src
    - scripts
    - tests/behat/bootstrap
    - tests/phpunit

  excludePaths:
    - vendor/*
    - node_modules/*
    - tests/behat/bootstrap/BehatCliContext.php
    # BehatCliTrait is only used by BehatCliContext (excluded above), so it
    # cannot be analysed standalone.
    - tests/behat/bootstrap/BehatCliTrait.php
