<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.4/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory=".logs/.phpunit.cache"
         executionOrder="depends,defects"
         requireCoverageMetadata="true"
         beStrictAboutCoverageMetadata="false"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         displayDetailsOnTestsThatTriggerErrors="true"
         displayDetailsOnTestsThatTriggerNotices="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         displayDetailsOnPhpunitDeprecations="true">
    <testsuites>
        <testsuite name="default">
            <directory>tests/phpunit/src/</directory>
        </testsuite>
    </testsuites>
    <source restrictNotices="true"
            restrictWarnings="true"
            ignoreIndirectDeprecations="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>tests/phpunit/src</directory>
        </exclude>
    </source>
    <coverage pathCoverage="false"
              ignoreDeprecatedCodeUnits="true"
              disableCodeCoverageIgnore="false">
        <report>
            <html outputDirectory=".logs/coverage/phpunit/.coverage-html" lowUpperBound="50" highLowerBound="90"/>
            <cobertura outputFile=".logs/coverage/phpunit/cobertura.xml"/>
        </report>
    </coverage>
    <logging>
        <junit outputFile=".logs/phpunit/junit.xml"/>
    </logging>
</phpunit>
