name: ci
on: [push, pull_request]
jobs:
  tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - php_version: "8.2"
            drupal_version: "10"
          - php_version: "8.3"
            drupal_version: "10"
          - php_version: "8.3"
            drupal_version: "11"
    env:
      PHP_VERSION: ${{ matrix.php_version }}
      DRUPAL_VERSION: ${{ matrix.drupal_version }}
      DOCKER_USER_ID: "1000"
    steps:
      - name: clone
        uses: actions/checkout@v3
      - name: docker compose up -d
        run: docker compose up -d
      - name: perms
        run: sudo chown 1000:1000 -R .
      - name: npm install
        run: docker compose exec -T -u node node npm install
      - name: composer version
        run: docker compose exec -u ${DOCKER_USER_ID} -T php composer --version

      - name: composer require
        run: docker compose exec -u ${DOCKER_USER_ID} -T php composer require --no-interaction --dev --no-update drupal/core:^${DRUPAL_VERSION} drupal/core-composer-scaffold:^${DRUPAL_VERSION}

      - name: composer install
        run: docker compose exec -u ${DOCKER_USER_ID} -T php composer install

      - name: drush site-install
        run: docker compose exec -u ${DOCKER_USER_ID} -T php ./vendor/bin/drush --yes --root=drupal site-install --db-url=mysql://drupal:drupal@db/drupal --debug
      - name: copy fixtures
        run: docker compose exec -u ${DOCKER_USER_ID} -T php cp -r fixtures/drupal/modules/behat_test drupal/modules
      - name: drush pmu page_cache
        run: docker compose exec -u ${DOCKER_USER_ID} -T php ./vendor/bin/drush --yes --root=drupal pmu page_cache,big_pipe
      - name: drush en behat_test
        run: docker compose exec -u ${DOCKER_USER_ID} -T php ./vendor/bin/drush --yes --root=drupal en behat_test

      - name: Prepare general features
        run: |
          ls -la
          sudo ln -s features-all features
          ls -la
      - name: npm test
        run: docker compose exec -T -u node node npm test
      - name: composer test
        run: docker compose exec -u ${DOCKER_USER_ID} -T php composer test
      - name: behat --profile=blackbox
        run: docker compose exec -u ${DOCKER_USER_ID} -T php vendor/bin/behat -fprogress --strict
      - name: behat --profile=drupal9
        if: "${{ matrix.drupal_version == '9'}}"
        run: docker compose exec -u ${DOCKER_USER_ID} -T php cat && docker compose exec -u ${DOCKER_USER_ID} -T php vendor/bin/behat -fprogress --profile=drupal9 --strict
      - name: Prepara date format for D11 tests
        if: "${{ matrix.drupal_version == '11'}}"
        run: docker compose exec -u ${DOCKER_USER_ID} -T php ./vendor/bin/drush cset core.date_format.olivero_medium pattern 'j F, Y'
      - name: behat --profile=drupal10
        if: "${{ matrix.drupal_version != '9'}}"
        run: docker compose exec -u ${DOCKER_USER_ID} -T php vendor/bin/behat -fprogress  --profile=drupal10 --strict
      - name: behat --profile=drupal_https
        if: "${{ matrix.drupal_version != '9'}}"
        run: docker compose exec -u ${DOCKER_USER_ID} -T php cat && docker compose exec -u ${DOCKER_USER_ID} -T php vendor/bin/behat -fprogress --profile=drupal_https --strict

      - name: Prepare different language features
        run: |
          sudo rm features
          sudo ln -s features-i18n features
      - name: composer test
        run: docker compose exec -u ${DOCKER_USER_ID} -T php composer test
      - name: behat --profile=drupal9
        if: "${{ matrix.drupal_version == '9'}}"
        run: docker compose exec -u ${DOCKER_USER_ID} -T php cat && docker compose exec -u ${DOCKER_USER_ID} -T php vendor/bin/behat -fprogress --profile=drupal9 --strict
      - name: behat --profile=drupal10
        if: "${{ matrix.drupal_version != '9'}}"
        run: docker compose exec -u ${DOCKER_USER_ID} -T php vendor/bin/behat -fprogress --profile=drupal10 --strict
