name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  tests:
    name: PHP ${{ matrix.php_version }}, Drupal ${{ matrix.drupal_version }}
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        include:
          - php_version: '8.2'
            drupal_version: '10'
          - php_version: '8.3'
            drupal_version: '10'
          - php_version: '8.3'
            drupal_version: '11'

    env:
      PHP_VERSION: ${{ matrix.php_version }}
      DRUPAL_VERSION: ${{ matrix.drupal_version }}
      DOCKER_USER_ID: '1001'

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Start Docker containers
        run: docker compose up -d

      - name: Install NPM dependencies
        run: docker compose exec -T -u node node npm install

      - name: Add Drupal core dependency
        run: docker compose exec -u ${DOCKER_USER_ID} -T php composer require --no-interaction --dev --no-update drupal/core:^${DRUPAL_VERSION} drupal/core-composer-scaffold:^${DRUPAL_VERSION}

      - name: Install Composer dependencies
        run: docker compose exec -T php composer install

      - name: Provision Drupal site
        run: docker compose exec -T php ./vendor/bin/drush --yes --root=drupal site-install --db-url=mysql://drupal:drupal@db/drupal --debug

      - name: Copy test fixtures
        run: docker compose exec -T php cp -r fixtures/drupal/modules/behat_test drupal/modules

      - name: Adjust Drupal configurations
        run: |
          docker compose exec -T php ./vendor/bin/drush --yes --root=drupal pmu page_cache,big_pipe
          docker compose exec -T php ./vendor/bin/drush --yes --root=drupal en behat_test
          docker compose exec -u ${DOCKER_USER_ID} -T php vendor/bin/drush cset core.date_format.olivero_medium pattern 'j F, Y'
          docker compose exec -u ${DOCKER_USER_ID} -T php vendor/bin/drush cset automated_cron.settings interval 0
          docker compose exec -u ${DOCKER_USER_ID} -T php vendor/bin/drush cset user.settings register visitors

      - name: Run NPM tests
        run: docker compose exec -T -u node node npm test

      - name: Run Composer tests
        run: docker compose exec -T php composer test

      - name: Run Behat blackbox tests
        run: docker compose exec -T php vendor/bin/behat -fprogress --strict

      - name: Run Behat Drupal tests
        run: docker compose exec -T php vendor/bin/behat -fprogress --profile=drupal10 --strict

      - name: Run Behat HTTPS tests
        run: docker compose exec -T php vendor/bin/behat -fprogress --profile=drupal_https --strict
